WebApplication1/Connected Services/Quora/Quara.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfService1" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfService1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UserInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NationalityTypeCd" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Surname" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserInfo" nillable="true" type="tns:UserInfo" />
  <xs:complexType name="ArrayOfUserInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserInfo" nillable="true" type="tns:UserInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserInfo" nillable="true" type="tns:ArrayOfUserInfo" />
  <xs:complexType name="ArrayOfLanguageInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LanguageInfo" nillable="true" type="tns:LanguageInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLanguageInfo" nillable="true" type="tns:ArrayOfLanguageInfo" />
  <xs:complexType name="LanguageInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LanguageId" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LanguageInfo" nillable="true" type="tns:LanguageInfo" />
  <xs:complexType name="ArrayOfCategoryInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CategoryInfo" nillable="true" type="tns:CategoryInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCategoryInfo" nillable="true" type="tns:ArrayOfCategoryInfo" />
  <xs:complexType name="CategoryInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="CategoryId" type="xs:int" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CategoryInfo" nillable="true" type="tns:CategoryInfo" />
  <xs:complexType name="ArrayOfQuestionInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="QuestionInfo" nillable="true" type="tns:QuestionInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfQuestionInfo" nillable="true" type="tns:ArrayOfQuestionInfo" />
  <xs:complexType name="QuestionInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="CategoryId" type="xs:long" />
      <xs:element minOccurs="0" name="CreationDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LanguageId" type="xs:long" />
      <xs:element minOccurs="0" name="NameSurname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QuestionId" type="xs:long" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserLoginId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QuestionInfo" nillable="true" type="tns:QuestionInfo" />
  <xs:complexType name="QuestionAnswerInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="AnswerInfoList" nillable="true" type="tns:ArrayOfAnswerInfo" />
      <xs:element minOccurs="0" name="QuestionInfo" nillable="true" type="tns:QuestionInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QuestionAnswerInfo" nillable="true" type="tns:QuestionAnswerInfo" />
  <xs:complexType name="ArrayOfAnswerInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AnswerInfo" nillable="true" type="tns:AnswerInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAnswerInfo" nillable="true" type="tns:ArrayOfAnswerInfo" />
  <xs:complexType name="AnswerInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreationDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NameSurname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SortNumber" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AnswerInfo" nillable="true" type="tns:AnswerInfo" />
</xs:schema>